:root {
  --c-base-bg: #111;
  --c-base-bg-lighter: #24242d;
  --c-base-text: #fff;
  --c-base-text-lighter: rgba(212, 231, 241, 0.6);
  --c-border: rgba(115, 125, 130, 0.4);
  --c-primary-bg: #f57c00;
  --c-primary-text: #ffe985;
}